
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CHYLab - Experimental Note</title>
	</head>
	<body>
	<div class="container">
			<div id="tabs" class="tabs notetabs">
				<header class="clearfix">
					<h1 class="title-current">Cloning</h1>
					<h1>Plant Growing</h1>
					<h1>Concentration Caculator</h1>
				</header>	
				<nav>
					<ul>
						<li><a href="#section-1" class="icon-clone-icon"><span>Cloning</span></a></li>
						<li><a href="#section-2" class="icon-arabidopsis-icon"><span>Plant Growing</span></a></li>
						<li><a href="#section-3" class="icon-caculator-icon"><span>Caculator</span></a></li>
					</ul>
				</nav>
				<div class="content">
					<section id="section-1">
						<div class="smallbtn">
							<%= link_to pcrs_path do %>
							<div>
							<%=image_tag("cloning/PCR1.svg",alt: "PCR")%>
							</div>
							<% end %>
							<h3>PCR</h3>
							<p>Input your gene name, primer name and other informations.</p>
						</div>
						<div class="smallbtn">
							<%= link_to ligations_path do %>
							<div>
							<%=image_tag("cloning/Ligation.svg",alt: "Ligation")%>
							</div>
							<% end %>
							<h3>Ligation</h3>
							<p>Choose your insert and vector to join together.</p>
						</div>
						<div class="smallbtn">
							<%= link_to "notes/transformation" do %>
							<div>
							<%=image_tag("cloning/Transformation.svg",alt: "Transformation")%>
							</div>
							<% end %>
							<h3>Transformation</h3>
							<p>Readme.</p>
						</div>
					</section>
					<section id="section-2">
  						<div class="smallbtn">
							<div>
							<%=image_tag("cloning/Transformation.svg",alt: "Transformation")%>
							</div>
							<h3>PCR</h3>
							<p>Input your gene name, primer name and other informations.</p>
						</div>
						<div class="smallbtn">
							<div>
							<%=image_tag("cloning/Transformation.svg",alt: "Transformation")%>
							</div>
							<h3>Ligation</h3>
							<p>Choose your insert and vector to join together.</p>
						</div>
						<div class="smallbtn">
							<div>
							<%=image_tag("cloning/Transformation.svg",alt: "Transformation")%>
							</div>
							<h3>Transformation</h3>
							<p>Readme.</p>
						</div>
					</section>
					<section id="section-3">
						
					</section>
				</div><!-- /content -->
			</div><!-- /tabs -->
			<p class="info">2016/01/01 ver 1.0.0 Template by <a href="http://tympanus.net/codrops/" id>codrops</a><br><a href="https://www.facebook.com/groups/chylabfamily" class="icon-facebook-square">CHY family</a></p>
		</div>
		<style>
		
		</style>
		<script>
;( function( window ) {
	
	'use strict';

	function extend( a, b ) {
		for( var key in b ) { 
			if( b.hasOwnProperty( key ) ) {
				a[key] = b[key];
			}
		}
		return a;
	}

	function CBPFWTabs( el, options ) {
		this.el = el;
		this.options = extend( {}, this.options );
  		extend( this.options, options );
  		this._init();
	}

	CBPFWTabs.prototype.options = {
		start : 0
	};

	CBPFWTabs.prototype._init = function() {
		this.titles = [].slice.call( this.el.querySelectorAll( 'header > h1' ) );

		// tabs elemes
		this.tabs = [].slice.call( this.el.querySelectorAll( 'nav > ul > li' ) );
		// content items
		this.items = [].slice.call( this.el.querySelectorAll( '.content > section' ) );
		// current index
		this.current = -1;
		// show current content item
		this._show();
		// init events
		this._initEvents();
	};

	CBPFWTabs.prototype._initEvents = function() {
		var self = this;
		this.tabs.forEach( function( tab, idx ) {
			tab.addEventListener( 'click', function( ev ) {
				ev.preventDefault();
				self._show( idx );
			} );
		} );
	};

	CBPFWTabs.prototype._show = function( idx ) {
		if( this.current >= 0 ) {
			this.titles[ this.current ].className = '';
			this.tabs[ this.current ].className = '';
			this.items[ this.current ].className = '';
		}
		// change current
		this.current = idx != undefined ? idx : this.options.start >= 0 && this.options.start < this.items.length ? this.options.start : 0;
		this.titles[ this.current ].className = 'title-current';
		this.tabs[ this.current ].className = 'tab-current';
		this.items[ this.current ].className = 'content-current';
	};
	// add to global namespace
	window.CBPFWTabs = CBPFWTabs;

})( window );
		</script>
		<script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
		</script>
	</body>
</html>
